<!DOCTYPE html>
<html>
    <head>
    </head>
    
    <body>
        <br>
        <hr>
        Header block

        <a href="/addYourFiles">   <button>addYourFiles</button>           </a>

        <a href="/removeYourFiles">   <button>removeYourFiles</button>     </a>

        <a href="/addStaticFiles">   <button>addStaticFiles</button>       </a>

        <a href="/removeStaticFiles">   <button>removeStaticFiles</button> </a>

        <form action='/signout' method = 'POST'>
            <input type="submit" value="signout" name="signout">
        </form> 
        <hr>
        <br>
        {% block content %}
    
        {% endblock %}
        <br>
        <br>
        <hr>
        Footer block 
        <hr>
    </body>
</html>