{% extends "boiler.html" %}

{% block content %}
<link rel="stylesheet" href="static/home.css">

<h1>Here are your files</h1>

<table>
    
    {% for data in files %}
<tr>
  <td>  {{ data }}  </td>
  <td> <button> <a href="" > preview </a> </button> </td>
</tr>
    {% endfor %}
</table>



<h1>Here are static files</h1>
<table>
    
    {% for staticData in staticFiles %}
<tr>
  <td> {{ staticData }}  </td>
  <td> <button> <a href="" > preview </a> </button> </td>
</tr>
    {% endfor %}
</table>





{% endblock content %}