{% extends "boiler.html" %}

{% block content %}

{% with messages = get_flashed_messages() %} 
    {% if messages %}
        {% for msg in messages %}
            <script>
                window.alert({{msg}})
            </script>
            {{msg}}
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>This is homepage</h1>

<form method="POST" action='/homepage' enctype="multipart/form-data" >
    <input type="file" name="file" accept="*" required>
    <input type="submit" value="uploadFile">
</form>

<table>
    
        {% for files in userFileNames %}
<ol>
    <tr>
      <td> <li> {{ files }} </li> </td>
      <td> <button> <a href="" > preview </a> </button> </td>
      <td> <button type="button" id = {{ files }} onclick="sendButtonId()" > remove </button> </td>
    </tr>
</ol>
        {% endfor %}
        <script>
            function sendButtonId() {
                var buttonId = document.getElementById('myButton').id;
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/process_button?button_id=' + buttonId, true);
    
                
                xhr.send();
            }
        </script>
    
  </table>

  <button> <a href="{{url_for('statichosting')}}" > Static hosting page </a> </button>

{% endblock content %}