{% extends "boiler.html" %}

{% block content %}

<h1>This is for Static Page</h1>
<h4> Description about how to host static webpages </h4>

<form method="POST" action='/statichosting' enctype="multipart/form-data" >
    <input type="file" name="staticFile" accept="*" required>
    <input type="submit" value="uploadFile">
</form>

<table>
    
    {% for staticfiles in staticFileNames %}
<ol>
<tr>
  <td> <li> {{ staticfiles }} </li> </td>
  <td> <button> <a href="" > preview </a> </button> </td>
  <td> <button type="button" id = {{ staticfiles }} onclick="sendIdToBackend(this.id)" > remove </button> </td>
</tr>
</ol>
    {% endfor %}
    <script>
        function sendIdToBackend(buttonId) {
          fetch('/staticbutton-click', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id: buttonId }),
          })
            .then((response) => {
              // Handle the response from the backend if needed
            })
            .catch((error) => {
              // Handle any errors that occurred during the fetch
              console.error('Error:', error);
            });
        }
      </script>

</table>



{% endblock content %}
