{% extends "boiler.html" %}

{% block content %}

<link rel="stylesheet" href="/static/addYourFiles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<div class="container">

    <div class="leftCont">
    <h1>Add your files here</h1>
    <p>

        "Your choice of Cloud Wallet for storing your valuable files is greatly appreciated! To ensure an effortless experience and compatibility, we kindly recommend avoiding spaces in your filenames upon uploading. Opting for underscores (_) or hyphens (-) instead will keep your files organized and easily manageable within Cloud Wallet. If any questions arise or you need a helping hand, our support team is just a message away. Thank you for being a part of the Cloud Wallet family!"
        
    </p>
    </div>
    <form method="POST" action='/addYourFiles' enctype="multipart/form-data" class="formCont">
        <input type="file" name="file" accept="*" required class="fileInput">
        <input type="submit" value="uploadFile">
    </form>


    
</div>
{% endblock content %}