<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/boiler.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="containerHeader">
            <div class="leftHeader">
                <a href="/home">   <button style=" font-family: 'Cormorant SC', serif; font-size:36px; font-weight:700 " >CLOUD WALLET</button>     </a>
                
                <a href="/addYourFiles" style="margin-left: 20px;">   <button>Add Your Files</button>           </a>
                
                <a href="/removeYourFiles">   <button>Remove Your Files</button>     </a>
                
                <a href="/addStaticFiles">   <button>Add Static Files</button>       </a>
                
                <a href="/removeStaticFiles">   <button>Remove Static Files</button> </a>
            </div>
            <div class="rightHeader">
                <form action='/signout' method = 'POST'>
                    <input type="submit" value="SignOut" name="signout">
                </form> 
            </div>    
            
        </div>
            <br>
            {% block content %}
            
            {% endblock %}
            <br>
            <br>
            <footer>
                
                        <!-- Information about Cloud Wallet -->
                        <p>Cloud Wallet - Your Trusted File Storage</p>
                        <p><a> Need Help? </a></p>
                        <p> Get in touch? </p>
                        
                
                
                    <!-- Legal or disclaimer information -->
                    <p>&copy; 2023 Cloud Wallet. All rights reserved.</p>
                    <p>Terms of Service | Privacy Policy</p>
                
            </footer>
            
    </body>
</html>