{% extends "boiler.html" %}

{% block content %}



<link rel="stylesheet" href="/static/content.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<div class="container">
  <div class="leftCont">
    <p>
    Welcome to Cloud Wallet Support! If you find yourself in a pickle while using our application, fear not! We've got your back. Below, you'll find a simple form to assist you in recovering accidentally deleted files. We understand that mishaps happen, and our team is here to help you get back on track swiftly. <br>

To initiate the recovery process, please fill out the form with the necessary metadata of the file you're missing. Provide us with details such as the file name, the date it was deleted, and any additional information that might aid in the recovery process. Once submitted, our dedicated support team will swing into action and work diligently to retrieve your precious data.
<br>
Please note that our response time typically ranges from 3 to 4 working days. We appreciate your patience and assure you that we're working tirelessly to assist you.
<br>
For any other queries or concerns, feel free to reach out to our support team at  <span class="standout">cloud.wallet@outlook.com</span> . We're here to ensure that your Cloud Wallet experience remains smooth and hassle-free.
<br>
Thank you for choosing Cloud Wallet!</p>
  </div>    
</div>
  {% endblock content %}