<!DOCTYPE html>
<html>
<head>
  <title>Copy Link to Clipboard</title>
</head>
<body>
  <button onclick="copyLink()">Copy</button>

  <script>
    function copyLink() {
      const linkToCopy = 'https://www.google.com';
      navigator.clipboard.writeText(linkToCopy)
        .then(() => {
          alert('Link copied to clipboard: ' + linkToCopy);
        })
        .catch(err => {
          console.error('Unable to copy: ', err);
        });
    }
  </script>
</body>
</html>
