<!--
<!DOCTYPE html>
<html>
<head>
  <title>Copy Link to Clipboard</title>
</head>
<body>
  <button onclick="copyLink()">Copy</button>

  <script>
    function copyLink() {
      const linkToCopy = 'https://www.google.com';
      navigator.clipboard.writeText(linkToCopy)
        .then(() => {
          alert('Link copied to clipboard: ' + linkToCopy);
        })
        .catch(err => {
          console.error('Unable to copy: ', err);
        });
    }
  </script>
</body>
</html>
-->

<!DOCTYPE html>
<html>
<head>
  <title>Copy Link to Clipboard</title>
</head>
<body>
  
  <a href="https://cloud-wallet.s3.ap-south-1.amazonaws.com/admin-Alfredtas+(1).webp" download>
    Download File
  </a>
  
</body>
</html>


