<link rel="stylesheet" href="/static/login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<div class="blurDiv">
    <h1>Login</h1>

    <div class="mainDiv">
        
        {% with messages = get_flashed_messages() %} 
        {% if messages %}
        {% for msg in messages %}
        <script>
        window.alert({{msg}})
        </script>
        {{msg}}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/login" method="POST">
                    
            <p>Enter user name:</p>
            <input type="text" name="username">
            
            <p>Enter gmail id:</p>
        <input type="text" name="gmail">
        
        <p>Enter password:</p>
        <input type="password" name="password">
        <br> <br> <br>
        <input type="submit" value="Submit" style="color: white; font-weight: 500; font-size: 110%;">
        
        </form>
    </div>
</div>

